[submodule "app/src/main/java/com/jeffboody/a3d"]
	path = app/src/main/java/com/jeffboody/a3d
	url = git://github.com/jeffboody/a3d-java.git
[submodule "app/src/main/cpp/texgz"]
	path = app/src/main/cpp/texgz
	url = git://github.com/jeffboody/texgz
