<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jeffboody.GearsES2eclair"
      android:versionCode="4"
      android:versionName="4">
	<uses-feature android:glEsVersion="0x00020000"/>
	<uses-sdk android:minSdkVersion="7"/>
    <application android:label="Gears"
                 android:icon="@drawable/logo">
        <activity android:name=".GearsES2eclair"
      	          android:configChanges="orientation"
                  android:label="Gears">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GearsES2eclairAbout"
                  android:label="Gears">
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
